# --- 1. Виртуальное окружение ---
venv/
env/
my_venv/

# --- 2. Секретные данные (КРИТИЧЕСКИ ВАЖНО) ---
.env

# --- 3. Локальная база данных ---
db.sqlite3

# --- 4. Системный мусор Python ---
__pycache__/
*.pyc
*.pyo

# --- 5. Настройки редакторов (твоего VS Code) ---
.vscode/
.idea/

# --- 6. Пользовательские файлы (в будущем) ---
media/